<!doctype html>
<html lang="en">
  <head>
    <title>ecole</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('app_home')}}">Ecole</a>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('app_home')}}">Home</a>
        </li>
        <li class="nav-item">
                  <a class="nav-link" href="{{path('app_cgu')}}">CGU</a>
                   </li>
                   <li>
          <a class="nav-link" href="{{path('liste')}}">Liste des eleves</a>
           </li>
           <li>
          <a class="nav-link" href="{{path('app_classe')}}">Liste des classes</a>
           </li>
           <li>
          <a class="nav-link" href="{{path('app_prof')}}">Liste des profs</a>
           </li>
           <li>
          <a class="nav-link" href="{{path('app_matiere')}}">Liste des matieres</a>
        </li>        
    </div>
  </div>
</nav>

  <div class="container p-5">
      ARTICLE 1. OBJET

Les présentes CGU conclues entre « l-ecole.com, L’Espace de CO-LEarning » représenté par Monsieur Stéphane Taupin, en qualité de président de la SAS l-ecole.com enregisrtrée sous le numéro 892 297 344 RCS Lorient, ℅ La Colloc – 42 avenue La Perrière – 56100 Lorient (ci-après « l’Opérateur ») d’une part et l’Utilisateur d’autre part, (ci-après désignées collectivement « Les Parties »), ont pour objet de fixer les dispositions contractuelles relatives aux droits et obligations respectifs des Parties dans le cadre de l’utilisation de la Plateforme et de l’ensemble des Services qui y sont proposés.<br>

La Plateforme propose un service d’intermédiation par lequel des formateurs professionnels (ci-après « les Formateurs ») proposent à des professionnels et à des particuliers (ci-après les « Apprenants ») des formations (ci-après « les Formations »).<br>

Dans ce cadre, il est rappelé que l’Opérateur intervient en tant qu’opérateur de plateforme en ligne. Le rôle de l’Opérateur est limité à l’hébergement des offres de Formations des Formateurs sur la Plateforme et à la mise en relation des Formateurs et des Apprenants.<br>

La fourniture de la Formation auprès des Apprenants n’est pas régie par les présentes Conditions Générales d’Utilisation mais par une convention de formation conclue directement entre le Formateur et l’Apprenant.<br>

ARTICLE 2. DÉFINITIONS<br>

« Achat » : désigne l’inscription et le paiement d’une Formation par un Apprenant auprès d’un Formateur par le biais de la Plateforme.<br>
« Apprenant » : désigne toute personne ayant le statut de professionnel ou de consommateur, qui recherche une Formation sur la Plateforme. L’Apprenant dispose d’un Compte sur la Plateforme. <br>
« Compte » : désigne l’interface hébergée sur la Plateforme dans laquelle est regroupé l’ensemble des données fournies par le Formateur ou l’Apprenant et lui permettant d’accéder aux Services. L’accès au Compte se fait grâce aux Identifiants.
 « Conditions Générales d’Utilisation » ou « CGU » : désigne les présentes conditions contractuelles mises à disposition sur la Plateforme afin d’encadrer l’utilisation de celle-ci et des Services par tout Utilisateur.   <br>
« Conditions Particulières / Conditions Générales de Services [Organisme de Formation] ou CP-CGS [Organisme de Formation] » : désigne les conditions contractuelles encadrant la fourniture de Services de la Plateforme par l’Opérateur aux Organismes de Formation.  <br>
« Espaces de co-learning » : désigne des lieux pouvant accueillir du public et permettant la tenue de Formation en présentiel, proposés par les Gestionnaires par l’intermédiaire de la Plateforme.<br>
« Formateur » : désigne le professionnel inscrit sur la Plateforme qui propose la fourniture d’une Formation à un Apprenant par l’intermédiaire de la Plateforme. Il est expressément prévu que le Formateur agit dans le cadre de son activité habituelle ou commerciale. Le Formateur est soit lui-même Organisme de formation et dispose d’un Numéro de Déclaration d’Activité (NDA), soit il utilise le NDA de l’Organisme de formation auquel il est rattaché. <br>
« Formation » : désigne toute action de formation proposée par un Formateur par le biais de la Plateforme. La Formation peut être proposée en présentiel, à distance (télé-présentiel), en ligne (module e-learning) ou en mixant les différents modes opératoires.
« Gestionnaire » : désigne tout professionnel, inscrit sur la Plateforme, qui propose la location d’Espaces de co-learning à des Formateurs.<br>
« Identifiants » : désigne l’adresse e-mail du Formateur ou de l’Apprenant et le mot de passe défini par ce dernier, nécessaires à l’accès à son Compte sur la Plateforme.<br>
« Organisme de formation » : désigne toute personne qui réalise des prestations de formation professionnelle et qui dispose d’un numéro de déclaration d’activité. L’Organisme de formation peut être le Formateur ou une personne différente. <br>
« Parties » : au pluriel, désigne ensemble l’Opérateur et l’Utilisateur. Au singulier, désigne une seule des deux Parties.
« Plateforme » : désigne la plateforme en ligne accessible à l’adresse https://www.l-ecole.com/ . La Plateforme regroupe l’ensemble des pages web, Services et fonctionnalités proposés aux Utilisateurs. <br>
« Prestataire de Services de Paiement » ou « PSP »: désigne la société, détentrice d’un agrément bancaire, fournissant, par l’intermédiaire de l’Opérateur, des services de paiement aux Formateurs afin de leur permettre d’encaisser les paiements des Apprenants.<br>
« Réservation » : désigne la Réservation d’une Formation par un Apprenant auprès d’un Formateur sur la Plateforme. La Réservation devra être suivie de l’Achat de la Formation.<br>
« Services » : désigne l’ensemble des services proposés par l’Opérateur aux Utilisateurs par l’intermédiaire de la Plateforme et notamment la mise en relation des Formateurs et des Apprenants.<br>
« Utilisateur » : désigne toute personne qui accède et navigue sur la Plateforme, qu’il soit Formateur, Organisme de formation, Apprenant ou simple internaute.<br>
ARTICLE 3. ACCEPTATION DES CONDITIONS GÉNÉRALES D’UTILISATION<br>

L’utilisation des fonctionnalités de la Plateforme et des Services implique l’acceptation des présentes CGU.<br>

Ainsi, l’Utilisateur s’engage à lire attentivement les présentes Conditions Générales d’Utilisation lors de l’accès à la Plateforme et est invité à les télécharger, les imprimer et à en conserver une copie.
  </div>
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
